@import url("https://rsms.me/inter/inter.css");

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-item, .navbar-item > svg {
  cursor: pointer;
  color: rgba(0,0,0,.5);
  stroke: rgba(0,0,0,.5);
}

.navbar-item:hover, .navbar-item:hover > svg {
  color: rgba(0,0,0,.7);
  stroke: rgba(0,0,0,.7);
}

.navbar-item-active {
  color: black;
  stroke: black;
}

.nav-link.active {
  font-weight: 600;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: .2;
}